.wrapper {
  display: inline;
  width: 80%;
  text-align: center;
  border: 1px solid burlywood;
}

.group-wrapper {
  display: flex;
  width: 100%;
  background-color: beige;
  justify-content: center;
}

.group-wrapper article {
  height: 500px;
}
