.wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: beige;
}

.nav-wrapper {
  padding: 20px;
  width: 100%;
  height: auto;
  background-color: wheat;
}

.nav-wrapper section {
  width: 60%;
  height: 600px;
  display: flex;
  align-items: center;
  background-color: white;
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
  justify-content: space-evenly;
}

.nav-item {
  width: 100%;
  height: 90%;
  border: 1px rgb(219, 219, 219) solid;
  border-radius: 30px;
  margin: 30px;
  background-color: rgb(231, 231, 231);
}
