.wrapper {
  display: inline;
  width: 80%;
  text-align: center;
  border: 1px solid burlywood;
}

.group-wrapper {
  width: 100%;
  background-color: beige;
  justify-content: center;
  flex-direction: row;
  display: flex;
}

.group-wrapper .result {
  width: 800px;
  height: 700px;
  padding: 20px;
  border: 1px black solid;
  overflow: scroll;
}

.group-wrapper .search {
  width: 400px;
  height: 700px;
  padding: 20px;
  overflow: scroll;
  border: 1px black solid;
}
