.wrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.nav-wrapper {
  padding: 20px;
  width: 100%;
  height: auto;
  background-color: rgba(250, 221, 167, 0.308);
}

.nav-wrapper section {
  width: 60%;
  height: 600px;
  display: flex;
  align-items: center;
  background-color: white;
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
  justify-content: space-evenly;
}

.nav-item {
  width: 100%;
  height: 90%;
  border: 1px rgb(219, 219, 219) solid;
  border-radius: 30px;
  margin: 30px;
  background-color: rgb(231, 231, 231);
}

.header-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.group-wrapper {
  display: flex;
  margin: 0 auto;
  width: 1000px;
  height: 800px;
  gap: 10px;
}

.group-wrapper .share {
  border: 1px solid black;
  width: 300px;
  text-align: center;
}

.group-wrapper .allpost {
  border: 1px solid black;
  text-align: center;
  width: 300px;
}

.group-wrapper .post {
  border: 1px solid black;
  width: 600px;
}
